<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <meta name="author" content="Yan Zhao" />
    <meta name="publisher" content="Yan Zhao" />
    <meta name="keywords" content="Yan Zhao Berkeley Computer Science China Chinese C++ LLVM Rails Ruby Python" />

    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection, print" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" media="screen, projection, print" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/header.js" type="text/javascript"></script>
    <script src="/javascripts/post.js" type="text/javascript"></script>
    <script src="/javascripts/project_list.js" type="text/javascript"></script>
  </head>

  <body id="{{page.body_id}}">

    <div id="content-wrapper">

      {{ content }}

      <div id="push"></div>
    </div>

    <div id="footer">
      <p id="contact-info"><a class="core-nav" href="mailto:zhaoyan1117@gmail.com">zhaoyan1117@gmail.com</a></p>
      <p id="copyright">
        <a class="core-nav icon-cc" rel="license" title="Some Rights Reserved — Creative Commons License" href="https://github.com/zhaoyan1117/zhaoyan1117.github.io#license"></a>
      </p>
    </div>
  </body>
</html>
