---
layout: base
body_id: interior-page
---

{% include notice.html %}

<div id="header">
  <ul>
    <li>
      <a class="core-nav icon-stack" href="/project" title="Yan Zhao - Project"></a>
    </li>
    <li>
      <a class="core-nav icon-github" target="_blank" href="http://github.com/zhaoyan1117" title="Yan Zhao - zhaoyan1117 on GitHub"></a>
    </li>
    <li>
      <a class="core-nav icon-info" href="/about" title="Yan Zhao - About"></a>
    </li>
    <li>
      <a class="core-nav icon-search" id="search-icon" href="#" title="Search yanzhao.me"></a>
    </li>
  </ul>
  <div style="clear:both"></div>

  <div id="search">
    <form action="http://www.google.com/cse" id="cse-search-box" style="display:none;">
      <div>
        <input type="hidden" name="cx" value="005533343238920809320:ewfdhtvdox4" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" width="100%" placeholder="Powered by Google"/>
        <input type="submit" name="sa" value="Search" />
      </div>
    </form>
  </div>

</div>
<div style="clear:both"></div>
<div id="content">

  {{ content }}

</div>
